
{{ define "main" }}
<div class="image-grid">
    {{ range $page := .Pages }}
        <div class="image-grid-item">
            <a href="{{ $page.Permalink }}" alt="{{ $page.Title }}" target="_blank">
                {{ $thumbnails := $page.Params.thumbnails }}
                {{ $images := .Resources.Match "*.{jpg,jpeg,png,webp,gif}" }}
                {{ $displayImages := slice }}
                {{ $dataImages := slice }}

                {{ if and $thumbnails (gt (len $thumbnails) 0) }}
                    {{ range $thumbnail := $thumbnails }}
                        {{ $displayImages = $displayImages | append $thumbnail.url }}
                    {{ end }}
                {{ else }}
                    {{ range $image := $images }}
                        {{ $displayImages = $displayImages | append $image.RelPermalink }}
                    {{ end }}
                {{ end }}

                {{ range $index, $image := $images }}
                    {{ if gt $index 0 }}
                        {{ $dataImages = $dataImages | append $image.RelPermalink }}
                    {{ end }}
                {{ end }}

                {{ $dataImagesString := delimit $dataImages ", " }}

                {{ range $index, $displayImage := $displayImages }}
                    <img class="cyclingImage" src="{{ $displayImage }}" data-images="{{ $dataImagesString }}" alt="{{ $page.Name }}">
                {{ end }}
            </a>
        </div>
    {{ end }}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const imgElements = document.querySelectorAll('.cyclingImage');
    
        imgElements.forEach((imgElement) => {
            const images = imgElement.getAttribute('data-images').split(', ').map(image => image.trim());
            
            if (images.length > 1) {  // Only cycle if there's more than one image
                let currentIndex = 0;
    
                function cycleImages() {
                    // Fade out the current image
                    imgElement.style.opacity = 0;
    
                    // Change the image after the fade out transition completes
                    setTimeout(() => {
                        currentIndex = (currentIndex + 1) % images.length; // Update the index, looping back to 0
                        imgElement.src = images[currentIndex];
                        imgElement.style.opacity = 1; // Fade in the new image
                    }, 200); // This timeout matches the transition duration (0.5s)
                }
    
                // Randomize the initial start time to stagger the image transitions
                const randomDelay = Math.random() * 5000; // Random delay between 0 and 3 seconds
    
                setTimeout(() => {
                    cycleImages();  // Start cycling immediately after the random delay
                    setInterval(cycleImages, 3000); // Continue cycling every 3 seconds
                }, randomDelay);
            }
        });
    });
    </script>
    
    
    
{{ end }}
