.MediaGridItem {}

.MediaPreview__Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%    ;
}

.MediaPreview__Loader i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}